@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans:wght@400;600&family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');
$primary: #f65860; //pink1
$secondary: #f35586; //pink2
$white: #fff;
$text: #333;
$black: black;
$background: #f8f9fd;
$transition: .3s ease;
$font: 'Open Sans', sans-serif;
$lineHeight: 1.6;
